<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luminous.squab.mapper.OaTaskMapper">
    <resultMap id="BaseResultMap" type="cn.luminous.squab.entity.OaTask">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="biz_key" property="bizKey" jdbcType="VARCHAR"/>
        <result column="proc_inst_id" property="procInstId" jdbcType="VARCHAR"/>
        <result column="proc_def_id" property="procDefId" jdbcType="VARCHAR"/>
        <result column="apply_name" property="applyName" jdbcType="VARCHAR"/>
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="data" property="data" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
        <result column="ext_field1" property="extField1" jdbcType="VARCHAR"/>
        <result column="ext_field2" property="extField2" jdbcType="VARCHAR"/>
        <result column="ext_field3" property="extField3" jdbcType="VARCHAR"/>
        <result column="ext_field4" property="extField4" jdbcType="VARCHAR"/>
        <result column="ext_field5" property="extField5" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ModelResultMap" type="cn.luminous.squab.model.OaTaskModel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
        <result column="biz_key" property="bizKey" jdbcType="VARCHAR"/>
        <result column="proc_inst_id" property="procInstId" jdbcType="VARCHAR"/>
        <result column="proc_def_id" property="procDefId" jdbcType="VARCHAR"/>
        <result column="apply_name" property="applyName" jdbcType="VARCHAR"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="data" property="data" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
        <result column="ext_field1" property="extField1" jdbcType="VARCHAR"/>
        <result column="ext_field2" property="extField2" jdbcType="VARCHAR"/>
        <result column="ext_field3" property="extField3" jdbcType="VARCHAR"/>
        <result column="ext_field4" property="extField4" jdbcType="VARCHAR"/>
        <result column="ext_field5" property="extField5" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, biz_key, proc_inst_id, proc_def_id, apply_name, apply_time, data, create_by, create_time,
        last_modify_by, last_modify_time, deleted, version, ext_field1, ext_field2, ext_field3,
        ext_field4, ext_field5
    </sql>

    <select id="queryTaskToDo" resultMap="ModelResultMap" parameterType="java.lang.String">
        SELECT
        acttask.id_ AS task_id,
        oatask.proc_inst_id,
        oatask.proc_def_id,
        oatask.apply_name,
        oatask.apply_Time,
        oatask.biz_key,
        oatask.data
        FROM
        act_ru_task acttask
        LEFT JOIN oa_task oatask on oatask.proc_inst_id = acttask.PROC_INST_ID_
        <where>
            acttask.ASSIGNEE_ = #{assignee}
        </where>
    </select>

    <select id="queryTaskDone" resultMap="ModelResultMap" parameterType="java.lang.String">
        SELECT
	    acthitask.id_ AS task_his_id,
	    acthitask.NAME_ AS task_name,
	    oatask.proc_inst_id,
	    oatask.proc_def_id,
	    oatask.apply_name,
	    oatask.apply_Time,
	    oatask.biz_key,
	    oatask. DATA
        FROM
        act_hi_taskinst acthitask
        LEFT JOIN oa_task oatask ON oatask.proc_inst_id = acthitask.PROC_INST_ID_
        <where>
            acthitask.ASSIGNEE_ = #{assignee}
            AND
            acthitask.END_TIME_ is not null
        </where>
    </select>

    <select id="queryTaskById" resultMap="ModelResultMap" parameterType="java.lang.String">
        SELECT
        acttask.id_ AS task_id,
        oatask.proc_inst_id,
        oatask.proc_def_id,
        oatask.apply_name,
        oatask.apply_Time,
        oatask.biz_key,
        oatask.data
        FROM
        act_ru_task acttask
        LEFT JOIN oa_task oatask on oatask.proc_inst_id = acttask.PROC_INST_ID_
        <where>
            acttask.id_ = #{taskId}
        </where>

    </select>


</mapper>