<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luminous.squab.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="cn.luminous.squab.entity.Department">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="charge" jdbcType="VARCHAR" property="charge" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="leader_txt" jdbcType="VARCHAR" property="leaderTxt" />
    <result column="leader_branch" jdbcType="VARCHAR" property="leaderBranch" />
    <result column="leader_branch_txt" jdbcType="VARCHAR" property="leaderBranchTxt" />
    <result column="parent_leader" jdbcType="BIGINT" property="parentLeader" />
    <result column="parent_leader_txt" jdbcType="VARCHAR" property="parentLeaderTxt" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="VARCHAR" property="deletedAt" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_by" jdbcType="VARCHAR" property="lastModifyBy" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
    <result column="ext_field1" jdbcType="VARCHAR" property="extField1" />
    <result column="ext_field2" jdbcType="VARCHAR" property="extField2" />
    <result column="ext_field3" jdbcType="VARCHAR" property="extField3" />
    <result column="ext_field4" jdbcType="VARCHAR" property="extField4" />
    <result column="ext_field5" jdbcType="VARCHAR" property="extField5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, intro, charge, pid, sort, leader, leader_txt, leader_branch, leader_branch_txt, 
    parent_leader, parent_leader_txt, status, created_at, updated_at, deleted_at, deleted, 
    version, create_by, create_time, last_modify_by, last_modify_time, ext_field1, ext_field2, 
    ext_field3, ext_field4, ext_field5
  </sql>

  <select id="queryDepartment" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
	    dep.*
        FROM
	    sys_user usu
        LEFT JOIN staffs sta ON usu.staff_id = sta.id
        LEFT JOIN departments dep ON sta.department_id = dep.id
        WHERE
	    usu.deleted = 0
        AND usu.user_code = #{userCode}
    </select>

</mapper>