<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luminous.squab.mapper.OaTaskMapper">
    <resultMap id="BaseResultMap" type="cn.luminous.squab.entity.OaTask">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="task_no" property="taskNo" jdbcType="VARCHAR"/>
        <result column="biz_key" property="bizKey" jdbcType="VARCHAR"/>
        <result column="proc_key" property="processKey" jdbcType="VARCHAR"/>
        <result column="proc_inst_id" property="procInstId" jdbcType="VARCHAR"/>
        <result column="proc_def_id" property="procDefId" jdbcType="VARCHAR"/>
        <result column="task_state" property="taskState" jdbcType="VARCHAR"/>
        <result column="apply_name" property="applyName" jdbcType="VARCHAR"/>
        <result column="apply_code" property="applyName" jdbcType="VARCHAR"/>
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="data" property="data" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
        <result column="ext_field1" property="extField1" jdbcType="VARCHAR"/>
        <result column="ext_field2" property="extField2" jdbcType="VARCHAR"/>
        <result column="ext_field3" property="extField3" jdbcType="VARCHAR"/>
        <result column="ext_field4" property="extField4" jdbcType="VARCHAR"/>
        <result column="ext_field5" property="extField5" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ModelResultMap" type="cn.luminous.squab.model.OaTaskModel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="task_no" property="taskNo" jdbcType="VARCHAR"/>
        <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
        <result column="biz_key" property="bizKey" jdbcType="VARCHAR"/>
        <result column="proc_key" property="processKey" jdbcType="VARCHAR"/>
        <result column="task_state" property="taskState" jdbcType="VARCHAR"/>
        <result column="assignee" property="assignee" jdbcType="VARCHAR"/>
        <result column="proc_inst_id" property="procInstId" jdbcType="VARCHAR"/>
        <result column="proc_def_id" property="procDefId" jdbcType="VARCHAR"/>
        <result column="apply_name" property="applyName" jdbcType="VARCHAR"/>
        <result column="apply_code" property="applyCode" jdbcType="VARCHAR"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="data" property="data" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
        <result column="ext_field1" property="extField1" jdbcType="VARCHAR"/>
        <result column="ext_field2" property="extField2" jdbcType="VARCHAR"/>
        <result column="ext_field3" property="extField3" jdbcType="VARCHAR"/>
        <result column="ext_field4" property="extField4" jdbcType="VARCHAR"/>
        <result column="ext_field5" property="extField5" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, task_no,biz_key, proc_key, proc_inst_id, proc_def_id, task_state, apply_name, apply_code, apply_time, data, create_by, create_time,
        last_modify_by, last_modify_time, deleted, version, ext_field1, ext_field2, ext_field3,
        ext_field4, ext_field5
    </sql>

    <select id="queryTaskToDo" resultMap="ModelResultMap" parameterType="java.lang.String">
        SELECT
        oatask.task_no AS task_no,
        acttask.id_ AS task_id,
        oatask.proc_inst_id,
        oatask.proc_def_id,
        oatask.apply_name,
        oatask.apply_Time,
        oatask.biz_key,
        oatask.data
        FROM
        act_ru_task acttask
        LEFT JOIN oa_task oatask on oatask.proc_inst_id = acttask.PROC_INST_ID_
        <where>
            <if test="assignee !=null and assignee !=''">
                acttask.ASSIGNEE_ = #{assignee}
            </if>
        </where>
    </select>

    <select id="queryTaskToDoPage" resultMap="ModelResultMap" parameterType="java.util.Map">
        SELECT
        oatask.task_no AS task_no,
        acttask.id_ AS task_id,
        oatask.proc_inst_id,
        oatask.proc_def_id,
        oatask.apply_name,
        oatask.apply_Time,
        oatask.biz_key,
        oatask.data
        FROM
        act_ru_task acttask
        LEFT JOIN oa_task oatask on oatask.proc_inst_id = acttask.PROC_INST_ID_
        <where>
            <if test="condition.assignee !=null and condition.assignee !=''">
                acttask.ASSIGNEE_ = #{condition.assignee}
            </if>
        </where>
        <if test="condition.page==0 or (condition.page !=null and condition.page !='')">
            LIMIT #{condition.page}, #{condition.limit}
        </if>
    </select>

    <select id="queryTaskDone" resultMap="ModelResultMap" parameterType="java.lang.String">
        SELECT
        acthitask.id_ AS task_his_id,
        acthitask.NAME_ AS task_name,
        oatask.proc_inst_id,
        oatask.proc_def_id,
        oatask.apply_name,
        oatask.apply_Time,
        oatask.biz_key,
        oatask. DATA
        FROM
        act_hi_taskinst acthitask
        LEFT JOIN oa_task oatask ON oatask.proc_inst_id = acthitask.PROC_INST_ID_
        <where>
            <if test="assignee !=null and assignee !=''">
                acttask.ASSIGNEE_ = #{assignee}
            </if>
            AND
            acthitask.END_TIME_ is not null
        </where>
    </select>

    <select id="queryTaskById" resultMap="ModelResultMap" parameterType="java.lang.String">
        SELECT
        acttask.id_ AS task_id,
        oatask.id AS id,
        oatask.proc_inst_id,
        oatask.proc_def_id,
        oatask.apply_name,
        oatask.apply_Time,
        oatask.biz_key,
        oatask.data,
        oatask.task_no
        FROM
        act_ru_task acttask
        LEFT JOIN oa_task oatask on oatask.proc_inst_id = acttask.PROC_INST_ID_
        <where>
            acttask.id_ = #{taskId}
        </where>

    </select>

    <select id="queryMyTask" resultMap="ModelResultMap" parameterType="java.util.Map">
        SELECT
        aaa.*
        FROM
        (
        SELECT
        task.id,
        task.task_no AS task_no,
        task.proc_def_id,
        task.proc_inst_id,
        task.biz_key,
        task.apply_time,
        task.task_state,
        actTask.assignee_ AS assignee
        FROM
        oa_task task
        LEFT JOIN act_ru_task actTask ON actTask.proc_inst_id_ = task.proc_inst_id
        WHERE
        task.task_state = 0
        AND task.apply_code = #{condition.userCode}
        UNION
        SELECT
        task.id,
        task.task_no AS task_no,
        task.proc_def_id,
        task.proc_inst_id,
        task.biz_key,
        task.apply_time,
        task.task_state,
        NULL AS assignee
        FROM
        oa_task task
        WHERE
        (
        task.task_state = 1
        OR task.task_state = 2
        )
        AND task.apply_code = #{condition.userCode}
        ) aaa
        ORDER BY
        aaa.apply_time DESC
        <if test="condition.page==0 or (condition.page !=null and condition.page !='')">
            LIMIT #{condition.page}, #{condition.limit}
        </if>
    </select>


    <select id="callTaskNo" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.lang.String">
        {call orderNo(#{newOrderNo,mode=OUT,jdbcType=VARCHAR})}
    </select>


</mapper>