<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link href="/form/service/css/bootstrap.min.css" rel="stylesheet">
    <link href="/form/service/css/jedate.css" rel="stylesheet" type="text/css">
    <link href="/form/service/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/form/service/css/webuploader.css" rel="stylesheet" type="text/css"/>
    <style>
        body {
            padding: 0 20px 10px 20px
        }

        h1 {
            font-size: 16px
        }

        table, td {
            border: 1px solid #999;
            border-collapse: collapse
        }

        td {
            padding: 7px 10px
        }

    </style>
    <script src="/form/service/js/jquery-1.12.4.min.js"></script>
    <script src="/form/service/js/jquery.jedate.min.js" type="text/javascript"></script>
    <script src="/form/service/js/bootstrap.min.js"></script>
    <script src="/form/service/js/webuploader.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="container">
    <form id="ff">
        <div id="htmlContainer" class="row ">



        </div>

    </form>

    <form id="approve">
        <div class="row ">
            <table align="center" class="table table-bordered" data-sort="sortDisabled">
                <tr>
                    <td style="-ms-word-break: break-all;" valign="top" width="166">签核类型:</td>
                    <td>
                        <select id="approveType" style="width: 150px">
                            <option value="approvePass">同意</option>
                            <option value="approveReject">回退</option>
                        </select>
                    </td>
                </tr>
                <tr id="callBackNodeRow" style="display: none">
                    <td style="-ms-word-break: break-all;" valign="top" width="166">回退节点:</td>
                    <td>
                        <select id="callBackNode" style="width: 150px">
                            <option value="start">发起人</option>
                            <option th:each="option : ${callBackNodes}" th:value="${option.nodeId}" th:text="${option.name}"></option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td style="-ms-word-break: break-all;" valign="top" width="166">签核意见:</td>
                    <td colspan="3" rowspan="1" style="-ms-word-break: break-all;" valign="top" width="661"><textarea
                            id='approveContent' name='approveContent' style='width: 685px; height: 84px; margin: 0px;'
                            value=''></textarea></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<div class="form-btn" style="text-align:center;margin-top:20px">

    <input class="btn btn-success btn-small" id="approveSubmit" type="submit" value="提交">
    <!--<span id="tip" style="color: #f00"></span>-->
    <!--<input class="btn btn-primary btn-small" id="reject" type="reset" value="退回申请人">-->
</div>


<!--动态渲染表单-->
<script th:inline="javascript">
    var html = [[${html}]];
    $('#htmlContainer').html(html);
</script>

<script th:inline="javascript" type="text/javascript">
    layui.use(['form', 'layer'],function () {
        var data = [[${data}]];

        var clickNum = 1;
        for (var i=0;i<clickNum;i++) {
            tbAddRow('data_5')
        }

        $('html').find('input').attr("readOnly","readOnly");
        $('html').find('input').attr("disabled","disabled");

        $('html').find('select').attr("readOnly","readOnly");
        $('html').find('select').attr("disabled","disabled");

        $('html').find('textarea').attr("readOnly","readOnly");
        $('html').find('textarea').attr("disabled","disabled");
        // 处理一下删除按钮
        $('.delrow').css('display','none');

        $.each(data, function (index, value) {
            console.log(index + ">>>" + value.name);
            //$('input[name="' + dname + '"]').val(tsum);
            $('input[name="' + value.name + '"]').val(value.value);
            $('select[name="' + value.name + '"]').val(value.value);
            $('textarea[name="' + value.name + '"]').val(value.value);
        })

        // 移除需要操作的input和select的disabled和readOnly
        $('#approveContent').removeAttr("readOnly");
        $('#approveContent').removeAttr("disabled");
        $('#approveType').removeAttr("readOnly");
        $('#approveType').removeAttr("disabled");
        $('#callBackNode').removeAttr("readOnly");
        $('#callBackNode').removeAttr("disabled");
        $('#approveSubmit').removeAttr("readOnly");
        $('#approveSubmit').removeAttr("disabled");

        $('#approveType').change(function () {
            var data = $(this).val();
            console.log(data);
            if (data=='approveReject') {
                $('#callBackNodeRow').css('display','table-row')
            }else {
                $('#callBackNodeRow').css('display','none')
            }
        });

        var actTaskId = [[${taskId}]];
        var currentUser = [[${currentUser}]];
        var oaTaskId = [[${id}]];

        $('#approveSubmit').click(function () {
            var data = {
                actTaskId: actTaskId,
                oaTaskId: oaTaskId,
                approveType: $('#approveType').val(),
                approveContent: $('#approveContent').val(),
                callBackNode: $('#callBackNode').val(),
                currentUser: currentUser
            };
            var reqData = {
                bizKey: $('#approveType').val(),
                data: data
            };
            $.ajax({
                url: '/workflow/approve',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(reqData),
                success: function (data) {
                    if (data.code==0) {
                        layer.msg("操作成功");
                    } else {
                        layer.alert("操作失败，失败原因：" + data.msg);
                    }
                },
                error: function (data) {
                    layer.alert("网络超时，请联系管理员");
                }
            });
            return false;
        });

    });
</script>

</body>
</html>


