<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>文商旅福田物业OA</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="./css/indexicon.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        //是否开启刷新记忆tab功能
        var is_remember = false;
    </script>
    <style>
        .notice a:hover {
            text-decoration: underline !important;
        }



    </style>
</head>
<script type="text/javascript">
    console.log("进入index......")
    layui.use(['table', 'jquery'], function () {
        var $ = layui.jquery;

        window.getTaskTodoCount = function () {
            // 获取待办任务数量
            var req = {}
            $.ajax({
                url: '/workflow/taskToDo',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(req),
                success: function (data) {
                    if (data.code == 0) {
                        $('#taskToDoCount').html(data.count);
                    } else {
                        layer.alert("操作失败，失败原因：" + data.msg);
                    }
                },
                error: function (data) {
                    layer.alert("网络超时，请联系管理员");
                }
            });
        }
        getTaskTodoCount();
        // 设置刷新定时任务
        setInterval(function () {
            $('#reload').click();
            getTaskTodoCount();
        }, 1000 * 60);
    })

</script>
<body class="index">
<!-- 顶部开始 -->
<div class="container" style="background-color: #0071c8">
    <div class="logo">
        <a href="./index.html">文商旅福田物业OA</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${username}"></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <!--                <dd>-->
                <!--                    <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>-->
                <!--                <dd>-->
                <!--                    <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>-->
                <dd>
                    <a href="/loginout">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/index">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav" style="background-color: white !important;">
    <div id="side-nav">
        <ul id="nav"></ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content" style="margin-left: 10px;margin-top: 5px">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title" style="background-color: white">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面
            </li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>


        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-row layui-col-space15">
                    <!--                    <div class="layui-col-md12">-->
                    <!--                        <div class="layui-card">-->
                    <!--                            <div class="layui-card-body ">-->
                    <!--                                <blockquote class="layui-elem-quote">欢迎<span th:text="${post}"></span>：-->
                    <!--                                    <span th:text="${username}">test</span>！当前时间: <span id="current-time"></span>-->
                    <!--                                    <script type="text/javascript">-->
                    <!--                                        setInterval(function () {-->
                    <!--                                            var now = (new Date()).toLocaleString();-->
                    <!--                                            $('#current-time').html(now);-->
                    <!--                                        }, 1000);-->
                    <!--                                    </script>-->
                    <!--                                </blockquote>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="layui-col-md12"></div>

                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">数据统计</div>
                            <div class="layui-card-body ">
                                <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                    <li class="layui-col-md3 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>待办任务</h3>
                                            <p>
                                                <cite id="taskToDoCount"></cite></p>
                                        </a>
                                    </li>

                                    <li class="layui-col-md3 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>会议通知</h3>
                                            <p>
                                                <cite>0</cite></p>
                                        </a>
                                    </li>

                                    <li class="layui-col-md3 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>我的传阅</h3>
                                            <p>
                                                <cite>0</cite></p>
                                        </a>
                                    </li>

                                    <li class="layui-col-md3 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>发文拟搞</h3>
                                            <p>
                                                <cite>0</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <div class="layui-card" style="height: 403px">
                            <div class="layui-card-header">通知公告</div>
                            <div class="layui-card-body ">
                                <table id="infoTable" lay-filter="infoTable"></table>
                                <!--数据表格操作-->
                                <script type="text/javascript">
                                    layui.use(['table', 'jquery'], function () {
                                        var table = layui.table;
                                        var tableIns = table.render({
                                            elem: '#infoTable'
                                            , skin: 'line'
                                            , method: 'post'
                                            , contentType: 'application/json'
                                            , height: 300
                                            , url: '/notice/noticeList' //数据接口
                                            , page: true
                                            , cols: [[ //表头
                                                {
                                                    field: 'title', title: '标题', width: 450, sort: false,
                                                    templet: function (d) {
                                                        var result = ''
                                                        result += '<div class="notice"><a class="layui-table-link" onclick="xadmin.open(\'查看\',\'/workflow/apply?bizKey=qjApply\',800,600,false)">'
                                                        result += d.title
                                                        result += '</a></div>'
                                                        return result


                                                    }

                                                }
                                                , {field: 'auth', title: '作者', width: 150, sort: false}
                                                , {field: 'time', title: '发布时间', minWidth: 150, sort: false}
                                            ]]
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card" style="height: 403px">
                            <div class="layui-card-header">代办任务</div>
                            <div class="layui-card-body ">
                                <button id="reload" style="display: none"></button>
                                <table id="taskTodo" lay-filter="taskTodo"></table>

                                <script type="text/html" id="taskTodoOperation">
                                    <a class="layui-table-link" href="#" lay-event="approve">审批</a>
                                    <a class="layui-table-link" href="#" lay-event="detail">流转记录</a>
                                </script>

                                <!--数据表格操作-->
                                <script type="text/javascript">
                                    layui.use(['table', 'jquery'], function () {
                                        var table = layui.table;
                                        var tableIns = table.render({
                                            elem: '#taskTodo'
                                            , method: 'post'
                                            , contentType: 'application/json'
                                            , height: 300
                                            , url: '/workflow/taskToDo' //数据接口
                                            , page: true //开启分页
                                            , cols: [[ //表头
                                                {
                                                    field: 'id',
                                                    title: 'ID',
                                                    minWidth: 150,
                                                    sort: false,
                                                    fixed: 'left',
                                                    hide: true
                                                },
                                                {
                                                    field: 'taskId',
                                                    title: 'taskId',
                                                    minWidth: 150,
                                                    sort: false,
                                                    fixed: 'left',
                                                    hide: true
                                                },
                                                {
                                                    field: 'procInstId',
                                                    title: 'procInstId',
                                                    minWidth: 150,
                                                    sort: false,
                                                    fixed: 'left',
                                                    hide: true
                                                },
                                                {
                                                    field: 'procDefId',
                                                    title: 'procDefId',
                                                    minWidth: 150,
                                                    sort: false,
                                                    fixed: 'left',
                                                    hide: true
                                                }
                                                , {field: 'taskNo', title: '申请编号', sort: false}
                                                , {field: 'applyName', title: '填报人', sort: false}
                                                , {field: 'bizName', title: '任务类型', sort: false}
                                                , {field: 'applyTime', title: '填报时间', sort: false}
                                                , {
                                                    field: 'operation',
                                                    title: '操作',
                                                    toolbar: '#taskTodoOperation'
                                                }
                                            ]]
                                        });


                                        $('#reload').click(function () {
                                            // 我的代办列表刷新
                                            tableIns.reload(
                                                {
                                                    page: {
                                                        curr: 1 //重新从第 1 页开始
                                                    }
                                                    , where: {
                                                        createBy: $('#createBy').val()
                                                    }
                                                }
                                            );


                                        });

                                        //监听工具条
                                        table.on('tool(taskTodo)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                                            var data = obj.data; //获得当前行数据
                                            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                                            var tr = obj.tr; //获得当前行 tr 的DOM对象

                                            if (layEvent === 'detail') { //流转记录
                                                //do somehing
                                                xadmin.open('流程记录', '/workflow/approve?id=' + data.id, 1500, 800, false);
                                            } else if (layEvent === 'approve') {
                                                xadmin.open('审批', '/workflow/approve?id=' + data.taskId, 1500, 800, true);
                                            }

                                            // } else if (layEvent === 'del') { //删除
                                            //     layer.confirm('真的删除行么', function (index) {
                                            //         obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                            //         layer.close(index);
                                            //         //向服务端发送删除指令
                                            //     });
                                            // }
                                        });
                                    });


                                </script>

                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card" style="height: 250px">
                            <div class="layui-card-header">快捷方式</div>
                            <div class="layui-card-body ">
                                <div class="main markdown">
                                    <ul class="icon_lists clear">
                                        <a href="http://www.baidu.com" target="_blank">
                                            <li>
                                                <i class="icon iconfont">&#xe6e9;</i>
                                                <div class="name">快捷连接</div>
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!--动态加载左侧菜单-->
<script src="js/luminous/menu.js" charset="utf-8"></script>


</body>

</html>